<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newsofbjtu.dao.NewsMapper">
    <select id="getNewsByRecommend" parameterType="String" resultType="com.example.newsofbjtu.bean.News">
        select * from miniprogram.News where recommend = #{recommend}
    </select>
    <select id="getNewsByType" parameterType="String" resultType="com.example.newsofbjtu.bean.News">
        select * from miniprogram.News where type = #{type}
    </select>
    <select id="getNewsByID" parameterType="String" resultType="com.example.newsofbjtu.bean.News">
        select * from miniprogram.News where nid = #{nid}
    </select>
    <insert id="createNews">
        insert into miniprogram.News (nid, title, author, time,
            picture,content,type,recommend)
        values
            (#{nid}, #{title}, #{author}, #{time},
                #{picture},#{content},#{type},#{recommend})
    </insert>
    <delete id="deleteNews" parameterType="String">
        delete from miniprogram.News where nid = #{nid}
    </delete>
    <select id="getImageByID" parameterType="String">
        select picture from miniprogram.News where nid=#{nid}
    </select>
</mapper>