<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newsofbjtu.dao.NewsMapper">
    <select id="getNewsByRecommend" resultType="com.example.newsofbjtu.bean.News">
        select * from miniprogram.News where recommend = #{recommend}
    </select>
    <select id="getNewsByType" resultType="com.example.newsofbjtu.bean.News">
        select * from miniprogram.News where type = #{type}
    </select>
    <select id="getNewsByID" resultType="com.example.newsofbjtu.bean.News">
        select * from miniprogram.News where nid = #{nid}
    </select>
    <insert id="createNews">
        insert into miniprogram.News (title, author, time,
            picture,content,type,recommend)
        values
            (#{title}, #{author}, #{time},
                #{picture},#{content},#{type},#{recommend})
    </insert>
    <delete id="deleteNews" >
        delete from miniprogram.News where nid = #{nid}
    </delete>
    <select id="getImageByID" >
        select picture from miniprogram.News where nid=#{nid}
    </select>
    <select id="getNewsByRandom" resultType="com.example.newsofbjtu.bean.News">
        SELECT * FROM miniprogram.News WHERE nid >= ((SELECT MAX(nid) FROM miniprogram.News)-(SELECT MIN(nid) FROM miniprogram.News)) * RAND() + (SELECT MIN(nid) FROM miniprogram.News) limit 5;
    </select>
    <select id="getNews" resultType="com.example.newsofbjtu.bean.News">
        SELECT * FROM miniprogram.News limit 30
    </select>
</mapper>